

.header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.background-color {
    background-color:blueviolet;
    grid-column: 1/3;
    grid-row: 1;
}

.profile-pic {
    width: 150px;
    grid-column: 1;
    grid-row: 1;
}

.my-name {
    grid-column: 2/3;
    grid-row: 1;
}